ul {
  list-style: none;
}

html {
  font-size: 10px;
}

//max width 1200px from 1600px this is 75%
//
//media queriesx)";
@small-1: ~"only screen and (min-width: 400px)";
@small: ~"only screen and (min-width: 668px)";
@medium: ~"only screen and (min-width: 1025px)";
@large: ~"only screen and (min-width: 1400px)";
//variables for text
@body-bg: #fff;
@line-height-base: 1.6;
@text-size-base: 1.6rem;
@font-family-p-WhoWeAre: "Open Sans", sans-serif;
@font-family-h2-WhoWeAre: "PeaceSans", sans-serif;
@font-family-navigation: "Lato", sans-serif;
@font-family-h1: "LemonMilk", sans-serif;
@main-font: "Open Sans", Arial, sans-serif;
@font-secondary: "Sounce Sans Pro", sans-serif;
@font-size-p-WhoWeAre: 1.7rem;
@font-size-h2-WhoWeAre: 6.18rem;
@font-size-nav: 1.5rem;
@font-size-h2: 3.2rem;
@font-size-h1: 15.873rem;
@font-size-h1-span: 9.6rem;
@font-size-p: 1.6rem;
//base colors
@color-primary: #70ca63;
@color-warning: #f6bb42;
@color-danger: #ec6f5a;
// colors
@color-h2-main: #494949;
@color-p-main: #6a6a6a;
@color-header-bg: #bc2e3a;
@main-action-color: #bc2e3a;
@body-bg: #f6f6f6;
@alternate-bg: #fff;
@dark-bg: #222532;
@light-bg: #c1c3c4;
@logos-bg: #93959e;
@copyright-bg: #15151e;
@text-color: #454740;
@paragraph-color: #888;
@bright-text-color: #fff;
@icon-color: #a9a9ac;
@menu-text-color: #929292;
@menu-hover-color: #383838;
@footer-border-color: #31333b;
@border-color: #ddd;
@footer-border-color: #31333b;
@section-line-color: #eaeaea;
//buttons
@button-primary: @main-action-color;
@button-danger: @bright-text-color;
//dimensions
@border-radius-main: 2px;
@header-height-base: 80vh;
@wrapper-width: 1193px;
//
@squere-width: 711px;
@square-height: 711px;
@who-we-are-height: 576px;
/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
  font-family: "Lemon/Milk";
  src: url("LemonMilk.eot?") format("eot"), url("LemonMilk.woff") format("woff"),
    url("LemonMilk.ttf") format("truetype"),
    url("LemonMilk.svg#LemonMilk") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,400i,800");
@font-face {
  font-family: "peace sans";
  src: url("peace_sans.otf");
}

@font-face {
  font-family: "LemonMilk";
  src: local("LemonMilk.otf"), url("LemonMilk.otf") format("opentype");
}

@font-face {
  font-family: "Peace Sans Webfont";
  src: local("../fonts/Peace Sans.otf"),
    url("../fonts/Peace Sans.otf") format("otf"),
    local("../fonts/Peace Sans Webfont.ttf"),
    url("../fonts/Peace Sans Webfont.ttf") format("ttf");
}

@font-face {
  font-family: "peace_sansregular";
  src: url("peace_sans-webfont.eot");
  src: url("peace_sans-webfont.eot?#iefix") format("embedded-opentype"),
    url("peace_sans-webfont.woff2") format("woff2"),
    url("peace_sans-webfont.woff") format("woff"),
    url("peace_sans-webfont.ttf") format("truetype"),
    url("peace_sans-webfont.svg#peace_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
